In [0]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/content/drive/My Drive/data_merged.csv')
df.head()

   Unnamed: 0  ...                    id.1
0           0  ...  00wS6lZEcgYyCPt6mIXwrJ
1           0  ...  0229PSUGl9BxwsW7urHATP
2           0  ...  02A1DgXR3wUC7xEX4UzqHN
3           0  ...  02xKYa7PKoROOpbx5xbxhM
4           0  ...  05PcYpZOmBeSeBLoMPqETN

[5 rows x 7 columns]

In [3]:
df1=df.drop(['Unnamed: 0','date','id','id.1'],axis=1)
df1.head()

                                               intro  ...                                               body
0  The company had posted a net profit of Rs1,61...  ...  New Delhi: State-run Rural Electrification Cor...
1  The resulting trust deficit has had several di...  ...  Two sets of findings, related to societal trus...
2  Rejecting reasons cited for not spending on CS...  ...  Mumbai: The ministry of corporate affairs (MCA...
3  E-wallet companies like Paytm, Freecharge are ...  ...  New Delhi: The central governments decision t...
4  Tech Mahindra CEO CP Gurnani on bets his firm ...  ...  Pune: The 57-year-old boss of Tech Mahindra, C...

[5 rows x 3 columns]

In [0]:
df1['Top']=[', '.join(str(x) for x in y) for y in map(tuple,df1.values)]

In [0]:
df2=df1[['Top']].copy()

In [6]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [7]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [0]:
df1['neg'] = df1['Top'].apply(lambda x:sia.polarity_scores(x)['neg'])
df1['pos'] = df1['Top'].apply(lambda x:sia.polarity_scores(x)['pos'])
df1['neu'] = df1['Top'].apply(lambda x:sia.polarity_scores(x)['neu'])
df1['compound'] = df1['Top'].apply(lambda x:sia.polarity_scores(x)['compound'])

In [0]:
df2['Label'] = np.where( (df1['compound'].values >= 0.33) ,1,0)

In [0]:
df = pd.read_csv('/content/drive/My Drive/train_final.csv')

In [11]:
df.head()

                                                 Top  Label
0  The company had posted a net profit of Rs1,61...      1
1  The resulting trust deficit has had several di...      1
2  Rejecting reasons cited for not spending on CS...      1
3  E-wallet companies like Paytm, Freecharge are ...      1
4  Tech Mahindra CEO CP Gurnani on bets his firm ...      0

In [12]:
df['Label'].value_counts()

1    1720
0     379
Name: Label, dtype: int64